$linear-color: linear-gradient(270deg, rgba(79, 70, 229, 0) 0%, rgba(79, 70, 229, 0.15) 0.01%);
$action: rgba(47, 63, 243, 0.9);
$black-blue: #111632;
$ghost-font-color: rgba(0, 0, 0, 0.75);
$main-font: 'Montserrat', sans-serif;

$bg-purple-light: #F3F4FF;